.icon{
    position: fixed;
    top: 30px;
    left: 1300px;
}
.icon:hover{
	cursor: pointer;

}
.icon:hover + .tooltip-content{
	cursor: pointer;
	display: inline-block;
	position: absolute;
	width: 100%;
	background-color: black;
    top: 10%;
    left: 0%;
	color: white;

}
.tooltip-content{
	display: none;
}